body{
	font-family: 'Open Sans', sans-serif;
}
.bg-primary{
	 background-color: #3230a0 !important;
}

.bd-navbar{
	min-height: 4rem;
	background-color: #3230a0 !important;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
}

@media (max-width:991.98px) {
    .bd-navbar {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .bd-navbar .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden
    }

    .bd-navbar .navbar-nav-scroll .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }
}

@media (min-width:768px) {
    @supports ((position:-webkit-sticky) or (position:sticky)) {
        .bd-navbar {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1071
        }
}
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #cbbde2
}

.bd-navbar .navbar-nav .nav-link.active, .bd-navbar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: transparent
}

.bd-navbar .navbar-nav .nav-link.active {
    font-weight: 600
}

.btn-bd-download {
    font-weight: 600;
    color: #fff;
    border-color: #fff
}

.btn-bd-download:active, .btn-bd-download:hover {
    color: #3230a0;
    background-color: #fff;
    border-color: #fff
}

.btn-bd-download:focus {
    box-shadow: 0 0 0 3px rgba(255, 228, 132, .25)
}

.bd-footer {
    font-size: .875rem;
    text-align: center;
    background-color: #f7f7f7
}

.bd-footer a {
    font-weight: 600;
    color: #495057
}

.bd-footer a:focus, .bd-footer a:hover {
    color: #007bff
}

.bd-footer p {
    margin-bottom: 0
}

@media (min-width:576px) {
    .bd-footer {
        text-align: left
    }
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem
}

.bd-footer-links li {
    display: inline-block
}

.bd-footer-links li + li {
    margin-left: 1rem
}

.alert-success{
    color: white;
    background-color: #71bc90;
    border-color: #71bc90;    
}
.alert-secondary{
    background-color: #DDE1E6;
    border-color: #DDE1E6;
}
.alert-primary, .alert-info{
    background-color: #62b0ff;
    border-color: #62b0ff;
}
.alert-danger{
    background-color: #e53935;
    border-color: #e53935;
    color: white;
}
.alert-warning{
    background-color: #ffb627;
    border-color: #ffb627;
}

.btn-success{
    color: white;
    background-color: #71bc90;
    border-color: #71bc90;    
}
.btn-secondary{
    background-color: #C7CCD1;
    border-color: #C7CCD1;
    color: #3B4256;
}
.btn-primary{
    background-color: #0077b0;
    border-color: #0077b0;
}
.btn-info{
    background-color: #62b0ff;
    border-color: #62b0ff;
}
.btn-danger{
    background-color: #e53935;
    border-color: #e53935;
    color: white;
}
.btn-warning{
    background-color: #ffb627;
    border-color: #ffb627;
}